extends ../menu 
block content 
    div(class="container", id="admin")
        h1 Admin page
        p Be careful, this is the admin page
        if error
            div(class="alert alert-danger").
                <strong>Something went wrong</strong><br>
                #{error}
        div(class="card")
            div(class="card-body")
                if step === 0
                    h4(class="card-title") Map settings (step 1 of 2) 
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            div(class="mb-3 mt-3")
                                label(for="url", class="form-label") API URL:
                                select(name="url", class="form-control", id="editableSelect", placeholder="Select a sample URL or paste yours")
                                    option() #{url}
                                    option() http://coordgen:2000/api/generate-random-coords
                                    option() http://mock:7080/parkingplaces
                                    option() https://smartcitymap.herokuapp.com/api/generate-random-coords
                                    option() https://smartcitymap.herokuapp.com/api/sample-endpoint
                                    option() http://localhost:3000/api/generate-random-coords
                                    option() http://localhost:3000/api/sample-endpoint
                                    option() http://smartme-data.unime.it/api/action/datastore_search?resource_id=1a46095a-0c7a-4f5a-8e84-030884e130d8
                                    option() https://data.smartdublin.ie/api/3/action/datastore_search?resource_id=9496fac5-e4d7-4ae9-a49a-217c7c4e83d9
                                    option() https://data.smartdublin.ie/api/3/action/datastore_search?resource_id=2dec86ed-76ed-47a3-ae28-646db5c5b965
                                input(type="hidden", name="step", value=0)
                            button(type="submit", class="btn btn-primary") Next
                if step === 1
                    h4(class="card-title") Map settings (step 2 of 2)
                    div(class="alert alert-warning", id="minCheckboxWarning", role="alert") You must select at least 1 field!
                    a(href="/admin?config=url", class="btn btn-sm btn-warning") Config the API URL 
                    a(href="/admin?config=query", class="btn btn-sm btn-warning") Config the query 
                    a(href="/admin/exportConfig", class="btn btn-sm btn-info") Export config file 
                    a(href="/admin/deleteConfig", class="btn btn-sm btn-danger") Delete config file 
                    a(href="/admin?config=coordGen", class="btn btn-sm btn-success") Configure coordinate generator
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            - for(const field of fields) {
                                div(class="mb-3 mt-3")
                                    div(class="form-check")
                                    - if(Array.isArray(selectedFields) && selectedFields.includes(field.id))   
                                        input(class="form-check-input", type="checkbox", name="fields", value=`${field.id}`, checked)
                                    - else 
                                        input(class="form-check-input", type="checkbox", name="fields", value=`${field.id}`)
                                    label(class="form-check-label", for=`${field.id}`) #{field.id} (#{field.type})
                            - }
                            input(type="hidden", name="step", value=1)
                            button(type="submit", id="saveButton", class="btn btn-primary") Save
                if step === 2
                    h4(class="card-title") Query settings
                    div(class="alert alert-warning", id="minCheckboxWarning", role="alert") Not all the endpoints support custom queries!
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Text contained:
                                input(type="text", class="form-control", id="query", name="query", placeholder="e.g. John Doe", value=`${mapSettings.query}`)
                            div(class="mb-3 mt-3")
                                label(for="limit", class="form-label") Query limit (not limited if 0): <b>[May less points will appear on the map because points with null longitudes and latitudes are not displayed]</b>
                                input(type="number", class="form-control", name="limit", id="limit", value=`${mapSettings.limit}`, placeholder="e.g. 50")
                            input(type="hidden", name="step", value=2)
                            button(type="submit", class="btn btn-primary") Save
                if coordGen
                    h4(class="card-title") Coordinates generator configuration
                    div(class="alert alert-default", role="alert") You can reach this endpoint on: <a href="#{url}">#{url}</a> (running without Docker) or <a href="http://coordgen:2000/api/generate-random-coords">http://coordgen:2000/api/generate-random-coords</a> (running in Docker)
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Number of generated coordinates:
                                input(type="number", min="1", max="1000000", required, class="form-control", id="numberOfCoords", name="numberOfCoords", placeholder="200", value=`${mapSettings.generatorValues.numberOfCoords}`)
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Minimum latitude:
                                input(type="number", class="form-control", step="0.000001", required, id="minLat", name="minLatitude", placeholder="46.223415", value=`${mapSettings.generatorValues.minLatitude}`)
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Maximum latitude:
                                input(type="number", class="form-control", step="0.000001", required, id="maxLat", name="maxLatitude", placeholder="46.288222", value=`${mapSettings.generatorValues.maxLatitude}`)
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Minimum longitude:
                                input(type="number", class="form-control", step="0.000001", required, id="minLong", name="minLongitude", placeholder="20.132668", value=`${mapSettings.generatorValues.minLongitude}`)
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Maximum longitude:
                                input(type="number", class="form-control", step="0.000001", required, id="maxLong", name="maxLongitude", placeholder="20.189698", value=`${mapSettings.generatorValues.maxLongitude}`)
                            div(class="d-flex flex-row justify-content-around")
                                div(class="p-4 w-100")
                                    label(for="query", class="form-label") Custom key:
                                    input(type="text", class="form-control", id="customKey", name="customKey", placeholder="Custom key field", value=`${mapSettings.generatorValues.customField.name}`)
                                div(class="p-4 w-100")
                                    label(for="query", class="form-label") Custom min value:
                                    input(type="number", min="0", max="999999", step="1", class="form-control", id="customMinValue", name="customMinValue", placeholder="Custom min value", value=`${mapSettings.generatorValues.customField.min}`)
                                div(class="p-4 w-100")
                                    label(for="query", class="form-label") Custom max value:
                                    input(type="number", min="0", max="999999", step="1", class="form-control", id="customMaxValue", name="customMaxValue", placeholder="Custom max value", value=`${mapSettings.generatorValues.customField.max}`)
                            input(type="hidden", name="coordGen", value="true")
                            button(type="submit", class="btn btn-primary") Save
    
        