extends ../menu 
block content 
    div(class="container", id="admin")
        h1 Admin page
        p Be careful, this is the admin page
        if error
            div(class="alert alert-danger").
                <strong>Something went wrong</strong><br>
                #{error}
        div(class="card")
            div(class="card-body")
                if step === 0
                    h4(class="card-title") Map settings (step 1 of 2) 
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            div(class="mb-3 mt-3")
                                label(for="url", class="form-label") API URL:
                                select(name="url", class="form-control", id="editableSelect", placeholder="Select a sample URL or paste yours")
                                    option(value="Placeholder") http://smartme-data.unime.it/api/action/datastore_search?resource_id=1a46095a-0c7a-4f5a-8e84-030884e130d8
                                    option() https://data.smartdublin.ie/api/3/action/datastore_search?resource_id=9496fac5-e4d7-4ae9-a49a-217c7c4e83d9
                                    option() https://data.smartdublin.ie/api/3/action/datastore_search?resource_id=2dec86ed-76ed-47a3-ae28-646db5c5b965
                                    option() http://localhost:1111/parkingplaces
                            
                            input(type="hidden", name="step", value=0)
                            button(type="submit", class="btn btn-primary") Next
                if step === 1
                    h4(class="card-title") Map settings (step 2 of 2)
                    div(class="alert alert-warning", id="minCheckboxWarning", role="alert") You must select at least 2 fields!
                    a(href="/admin?config=url", class="btn btn-sm btn-warning") Config the API URL 
                    a(href="/admin?config=query", class="btn btn-sm btn-warning") Config the query 
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            - for(const field of fields) {
                                div(class="mb-3 mt-3")
                                    div(class="form-check")
                                    script.
                                        if(selectedFields.includes(field))   
                                            input(class="form-check-input", type="checkbox", name="fields", value=`${field.id}`, checked))
                                        else 
                                    input(class="form-check-input", type="checkbox", name="fields", value=`${field.id}`)
                                    label(class="form-check-label", for=`${field.id}`) #{field.id} (#{field.type})
                            - }
                            input(type="hidden", name="step", value=1)
                            button(type="submit", id="saveButton", class="btn btn-primary") Save
                if step === 2
                    h4(class="card-title") Query settings
                    div(class="alert alert-warning", id="minCheckboxWarning", role="alert") Not every endpoints support custom queries!
                    div(class="card-text")
                        form(action="admin/save", method="post")
                            div(class="mb-3 mt-3")
                                label(for="query", class="form-label") Text contained:
                                input(type="text", class="form-control", id="query", name="query", placeholder="e.g. John Doe", value=`${mapSettings.query}`)
                            div(class="mb-3 mt-3")
                                label(for="limit", class="form-label") Query limit (not limited if 0): <b>[May less points will appear on the map because points with null longitudes and latitudes are not displayed]</b>
                                input(type="number", class="form-control", name="limit", id="limit", value=`${mapSettings.limit}`, placeholder="e.g. 50")
                            input(type="hidden", name="step", value=2)
                            button(type="submit", class="btn btn-primary") Save
    
        